
body {
    background: url(../Images/res1.jpg)no-repeat center fixed;
    background-color: #000000ff;
    background-size: cover;
    background-position-y: center;
}
.nav {
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
}
.container-fluid{
    height: 100vh;
    width: 100vw;
}
.login-container{
    height: 80vh;
}
.login {
    /* width: 30%; */
    height: 55%;
    background-color: rgb(86, 98, 120, 0.7);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin-left: 5%;
    margin-right: 5%;

}

.formtitle{
    height: 10%;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
    font-family: 'Indie Flower', cursive;

}

.inputStyle {
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 200;
    border-radius:3px;
    border: none;
}
.inputStyle:focus{
    outline: none;
}

#warning_login{
    color: rgb(206, 206, 206);
}
.btn {
    width: 100%;
    padding-top: 5px;
    border: none;
    border-radius:5px;
    background-color: #8a6399;
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    background: #1a1818;
    color: #f1f3f4;
}
.warning_login{
    color: rgb(206, 206, 206);
    font-weight: 500;
}

#ForgotLink{
    width: 90%;
    height: 10%;
    color: #f9bd4f;
    font-weight: 500;
    text-decoration: none;
    margin-left: 0px;
    margin-top:8%;
    margin-bottom: 5px;
}

#ForgotLink:hover {
    color: #b8b8b8;
    text-decoration: none;
}

.signup-continer{
   height: 80vh;
}
.signup-div{
    height: 60%;
    background-color: rgb(86, 98, 120, 0.7);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin-left: 5%;
    margin-right: 5%;
}



.gander{
    font-weight: 700;
    font-size: 90%;
}
#warning_message {
    color: rgb(206, 206, 206);
    font-weight: 500;
}


.continer-verify-form{
   height: 100vh;
}
.verify-div{
    height: 40%;
    background-color: rgb(86, 98, 120, 0.7);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin-left: 5%;
     margin-right: 5%;
}

#warningCofirmationMessage{
    color: white;
    font-size: 1.5;
    text-align: center;
    margin-bottom: 5%;
}


/* forget Password */
#newPass-div{
    display: none;
}
.formdesc{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    color: white;
}
#warningNewPass {
    color: rgb(206, 206, 206);
    font-weight: 500;
}

