@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.09);
}

.header-bg {
    height: 400px;
}

.bg-overlay {
    height: 370px;
}
.list {
    margin: 5px 0px 0px 0px;
}

.Gallery_Design {
    height: 46vh;
    background-position: center;
    background-size: cover;
    margin: 30px 30px 60px 30px;
    box-shadow: 0 50px 25px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Product_Container{
  width: 100%;
  height: 100%;
  position: relative;

  border: 2px solid re;
  
}
.Image_Product{
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }

.Gallery_Design span {
    font-family: cursive;
    font-size: 0.8rem;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 10%;
}

.Gallery_Design:hover .viewbutton {
    transform: translateY(0%);
    transition: all 0.3s ease-in-out;
    background: white;
    color: black;
    opacity: 0.8;
    transform: scale(1.05);
}

.Gallery_Design:hover {
    opacity: 0.7;
    box-shadow: 0 50px 23px 15px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.viewbutton {
    background: rgba(darken(#F2DAD7, 10%), .9);
    height: 15%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: absolute;
    top: 45%;
    left: 23%;
    transform: translateY(101%);
    transition: all 0.3s ease-in-out;
    background: none;
    outline: none;
    font-weight: 100;
    letter-spacing: 2px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 500;
}

button {
    cursor: pointer;
}

/*This For Send Orde Page*/

.SendOrderSection {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.container-oder-form {
    height: 100vh;
}

.SendOrderPage {
    width: 400px;
    height: 400px;
    background-color: rgb(86, 98, 120, 0.7);
    box-shadow: 0 50px 23px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    animation-name: animatetop;
    animation-duration: 1s;
    border-radius: 10%;
    margin-left: 2%;
    margin-right:2%;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.SendOrderPageHeader {
    height: 13%;
    color: #f1f3f4;
    display: flex;
    justify-content: flex-end;
}

/* The Close Button */

#close {
    margin-right: 3%;
    margin-top: 3%;
    font-size: 2rem;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#container {
    width: 100%;
    height: 65%;
}

.SendOrderPageImage {
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    margin-left: 5px;
    margin-right: 7px;
    /* margin-right: 3%; */
}

.OrderData {
    height: 100%;
    padding: 0%;
    margin-right: 5px;
}

.order-name {
    margin-top: 5px;
    margin-bottom: 15px;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}

.order-Desc {
    height: auto;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    margin-left: 5px;
    margin-bottom: 5px;
}

.DivCounter {
    margin-top: 15px;
}

.counter {
    width: 30%;
    height: 100%;
    background-color: #f9bd4f;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 10%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    /* margin-left: 10px; */
}

.Countlabel {
    /* background-color: transparent; */
    width: 30%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.PriceText {
    width: 70%;
    height: 100%;
    border-radius: 5px;
    background-color: #e4b96a;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#SendOrderPage_buy {
    border: none;
    border-radius: 5px;
    background-color: #f9bd4f;
    color: #f1f3f4;
    font-family: cursive;
    height: 70%;
    width: 40%;
    margin-bottom: 3%;
}