  

*{
      padding: 0;
      margin: 15;
      box-sizing: border-box;
      user-select: none;
  }

  #ViewAll {
      display: flex;
      flex-direction: column ;
  }

  .Gallery_Design {
      width: 70vw;
      height: 50vh;
      background-position: center;
      background-size: cover;
      margin-left: 25px;
      margin-right: 30px;
      margin-bottom: 51px;
      margin-top: 3px;
      box-shadow: 0 50px 23px 15px rgba(0, 0, 0, 0.2);
      border-radius: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
  }

  .Gallery_Design span {
      font-family: cursive;
      position: absolute;
      top: 100%;
      left: 0;

  }


  .Gallery_Design:hover .viewbutton {
      transform: translateY(0%);
      transition: all 0.3s ease-in-out;
      background: white;
      color: black;
      opacity: 0.8;
      transform: scale(1.05);

  }

  .Gallery_Design:hover {
      opacity: 0.7;
      box-shadow: 0 50px 23px 15px rgba(0, 0, 0, 0.6);
  }

  .viewbutton {
      background: rgba(darken(#F2DAD7, 10%), .9);
      height: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      position: relative;
      display: grid;
      justify-items: center;
      align-items: center;
      transform: translateY(101%);
      transition: all 0.3s ease-in-out;
      background: none;
      outline: none;
      font-weight: 100;
      letter-spacing: 2px;
      border: 1px solid white;
      color: white;
      text-transform: uppercase;
      padding: 10px;
  }

  button {
      cursor: pointer;
  }


  /*FROM HERE FORE GALLERY HEADER*/

  @keyframes ChanagHeaderImg {

      0% {
          background-image: url(../Images/AR1.jpg);
      }

      20% {
          background-image: url(../Images/AR2.jpeg);
      }

      50% {
          background-image: url(../Images/AR3.jpg);
      }

      75% {
          background-image: url(../Images/AR4.jpg);
      }

      100% {
          background-image: url(../Images/AR5t.jpg);
      }
  }

.headerPage {

      display: flex;
      flex-direction: column ;
      align-items: center;
      justify-content: center;
  }

  .headerImage {
      width: 70vw;
      height: 50vh;
      background-position: center;
      background-size: cover;
      animation: ChanagHeaderImg;
      animation-duration: 13s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      border-radius: 2%;
  }

  .headerList {
      width: 20%;
      height: 80%;
      color: white;
      margin-left: 2.5%;

  }

  .List {      
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column ;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.7);
  }

  .HeaderItem {
      height: 80%;
      margin-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      /* border: 2px solid white; */
      font-size: 1rem;
      cursor: pointer;
  }
 
  .HeaderLink {
      text-decoration: none;
      color: white;
  }
  .HeaderLink:hover{
    color: #f9bd4f;
    border-bottom: 1px solid #f9bd4f ;
  }

  #CompanyName {
      display: none ;
      width: 40%;
      text-align: left;
      font-family: cursive;
      font-size: 2rem;
  }


  /*This For Send Orde Page*/
  .SendOrderSection {
       width: 100vw;
      height: 100vh;
      display: none;
      position: fixed;
      z-index: 1;
      
      padding-top: 10%;
/*      Location of the box */
      padding-left: 25%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.7);

  }



  .SendOrderPage {
      background: #D9DBFB;
      margin: 0;
      box-shadow: 0 50px 23px 15px rgba(0, 0, 0, 0.5);
      position: relative;
     width: 60vw;
      height: 70vh;
      animation-name: animatetop;
      animation-duration: 1s;
      border-radius: 20%;

  }

  @keyframes animatetop {
      from {
          top: -300px;
          opacity: 0
      }

      to {
          top: 0;
          opacity: 1
      }
  }

  .SendOrderPageHeader {
      height: 25%;
      padding-right: 10px;
      padding-left: 10px;
      background-color: #383D81;
      color: white;
      display: flex;
      flex-direction: column;
  }

  #Company {
      font-family: cursive;
      font-size: 1rem;
      text-align: center ;
      margin: 0;
  }

  /* The Close Button */
  #close {
      align-self: flex-end;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      height: 20%;

  }

  #close:hover,
  #close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

  #containertable {
      width: 100%;
      height: 75%;
  }

  #tableStructurepage {
      width: 100%;
      height: 100%;
      margin: 3px;
      font-family: cursive;

  }

  .SendOrderPageImage {
      width: 40%;
      background-image: url(../Images/AR1.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 10%;
  }

  .SendOrderPageDesc {
      height: 25%;
  }

  .SendOrderPagesalary {
      height: 10%;
  }
.SendOrderPageCouLabel{
        height: 10%;
    margin: 0;
}

  .SendOrderPageCounText {
      background: #D9DBFB;
      border-radius: 10%;
      width: 50%;
  }

  #SendOrderPageChoiseLoc {
      border: none;
      padding-top: 0.75rem;
      padding-left: 2rem;
      padding-bottom: 0.75rem;
      padding-right: 2rem;
      border-radius: 5px;
      background: #626485;
      font-family: cursive;
  }

  #SendOrderPageChoiseLoc:active {
      transform: scale(0.95);
  }

  #SendOrderPage_buy {
      border: none;
      width: 30vw;
      height: 10vh;
      
      border-radius: 5px;
      background: linear-gradient(#e66465, #535EDC);
      font-family: cursive;
  }

  #SendOrderPage_buy:active {
      background: linear-gradient(#535EDC, #e66465);
      position: relative;
      top: 5px;
  }

  /*this for UserLocation  in Send order Page*/
  #mapPage {
      display: none;
      position: fixed;
      z-index: 99;
      padding-top: 7%;
      /*      Location of the box */
      padding-left: 25%;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  }
  #mapContainer {
      background: #D9DBFB;
      margin: 0;
      box-shadow: 0 50px 23px 15px rgba(0, 0, 0, 0.5);
      position: relative;
      width: 50%;
      height: 70%;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #map {
      width: 95%;
      height: 100%;
      border: 2px solid black;
  }

  #CancelMapPage {
      border: none;
      padding-top: 0.75rem;
      padding-left: 2rem;
      padding-bottom: 0.75rem;
      padding-right: 2rem;
      border-radius: 5px;
      background: #626485;
      font-family: cursive;
      margin-top: 10px;
  }
  .footer{
    color: #444444;
    font-weight: 500;
    text-align: center;
    font-size: 1.3em;
}